.filter {
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    list-style: none;
    display: flex;
}

.filter li {
    padding: 0 5px;
}
